@import './Sass/index.scss';

$dark : #1B1B1B;
$primary : #C93A27;
$light : #4B4B4B;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $dark;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  .App {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  h1 {
    color:$primary;
  }
}

.form-text-area{
  background-color:$light;
  outline: none;
  border: none;
}

.form-text-title {
  @extend .form-text-area;
  margin-bottom:1em;
}
.btn {
  color: white;
  background-color: $primary;
  padding: 10px 50px;
}